<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77614029235-6kmibl3cmrnjt3ierf9bpjde62s5a33n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77614029235-6kmibl3cmrnjt3ierf9bpjde62s5a33n</string>
	<key>API_KEY</key>
	<string>AIzaSyC5X1oinN7CXAntVtJJBWMBQ1Nm0TiDOV8</string>
	<key>GCM_SENDER_ID</key>
	<string>77614029235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.siteRenaultRizzi</string>
	<key>PROJECT_ID</key>
	<string>portal-12121</string>
	<key>STORAGE_BUCKET</key>
	<string>portal-12121.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77614029235:ios:5698b968215299a7f5d3c6</string>
</dict>
</plist>